---
import Prose from '../../components/Prose.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import {getCollection, render} from 'astro:content';
import {slugify} from "../../lib/util";

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map(post => ({
        params: {slug: slugify(post.data.title)},
        props: {post}
    }));
}

const {post} = Astro.props
const {Content} = await render(post);
---
<BaseLayout>
    <div class="container mx-auto mb-5 px-5 max-w-screen-lg">
        <Prose>
            <Content/>
        </Prose>
    </div>
</BaseLayout>