---
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from "../components/Prose.astro";
---

<BaseLayout>
    <Prose>
        <h1>About Me</h1>
        <p>This is where the about me content will go.</p>
    </Prose>
</BaseLayout>