---
import BaseLayout from "../layouts/BaseLayout.astro"
import {Image} from "astro:assets"
import profilePic from "../assets/profile_pic.jpeg"
---

<BaseLayout>
    <section>
        <Image
                src={profilePic}
                alt="profile pic"
        />
        <div class="card">
            <h1>Sundy Yaputra</h1>
            <p>
                Hi, I'm a backend engineer based in Singapore. Before software engineering, I was a research scientist
                in computational fluid dynamics and HPC Specialist.
            </p>
            <p>
                You can find out more about me <a href="/about">here</a>
            </p>
        </div>
    </section>
</BaseLayout>
<style>
    section {
        display: grid;
        gap: var(--size-5);
        align-items: center;
    }

    @media (min-width: 768px) {
        section {
            grid-template-columns: 1fr 1fr;
        }
    }

    img {
        width: 100%;
        border-radius: var(--radius-3);
        box-shadow: var(--shadow-5);
    }

    .card {
        padding: var(--size-5);
    }

    h1 {
        font-size: var(--font-size-6);
        font-weight: var(--font-weight-9);
    }

    p {
        font-size: var(--font-size-fluid-1);
    }
</style>
