---
---


<div class="navbar flex-col space-y-2">
    <h6 class="text-2xl font-bold">Sundy's Site</h6>
    <div class="flex space-x-5">
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/resume/">Resume</a>
    </div>
</div>
