---

---
<div class="prose">
    <slot/>
</div>
<style>
    .prose h1 {
        font-size: var(--font-size-6);
        font-weight: var(--font-weight-9);
        text-align: center;
    }

    .prose p {
        font-size: var(--font-size-fluid-1);
        text-align: justify;
    }

    .prose a {
        color: var(--link);
    }

    .prose img {
        border-radius: var(--radius-3);
    }
</style>
