<header>
    <nav class="container">
        <div class="hamburger">
            <span class="line"></span>
             <span class="line"></span>
             <span class="line"></span>
        </div>
        <div class="nav-links">
            <a href="<%= relative_url '/'%>" class="link-item">Home</a>
            <a href="<%= relative_url '/about' %>" class="link-item">About</a>
            <a href="<%= relative_url '/posts' %>" class="link-item">Posts</a>
            <a href="<%= relative_url '/misc' %>" class="link-item">Misc</a>
        </div>
    </nav>
</header>
