---
layout: default
---

<div class="hero">
    <img class="hero__image" src="/images/sundy_profile_pic.jpeg" />
    <div class="hero__description">
        <h2>Sundy Yaputra</h2>
        <p>
            Hi, I'm a backend engineer based in Singapore. Before software
            engineering, I was a research scientist in computational
            fluid dynamics and HPC Specialist.
        </p>
        <p>
          Find more about me <a href="<%= relative_url '/about'%>">here</a>.
        </p>
    </div>
</div>
