@import "open-props/open-props.min.css";
@import "open-props/normalize.min.css";
@import "open-props/buttons.min.css";
@import "open-props/brand-colors.min.css";

body {
    line-height: 1.5;
}

header {
    background-color: var(--surface-3);
}

.hamburger {
    margin-bottom: 1em;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: start;
}

.navbar__links {
    display: none;
    list-style: none;
    flex-direction: column;
}

.show-nav-links {
    display: flex;
}

.navbar__links-item {
    background-color: var(--surface-3);
    width: 100vw;
    padding: 1em 0;
}

.container {
    max-width: 1024px;
    width: 95%;
    margin: 0 auto;
}

.hero {
    padding: var(--size-2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__image {
    width: 70%;
    border-radius: var(--radius-4);
    border: var(--size-1) solid var(--brand-google-yellow);
    margin-bottom: var(--size-1);
}

.hero__description {
    & p {
        margin-top: 1em;
    }

    & h2 {
        text-align: center;
    }
}

.separator {
    width: 100%;
    height: 0;
    border: 1px solid var(--surface-3);
    margin-bottom: 0;
}

footer {
    top: 100vh;
    position: sticky;
}

.footer__content {
    padding: var(--size-5) 0;
}

@media (min-width: 768px) {
    .navbar__links {
        display: flex;
        flex-direction: row;
    }

    .hamburger {
        display: none;
    }

    .navbar {
        flex-direction: row;
    }

    .navbar__links-item {
        width: 100%;
    }

    .navbar__links-item + .navbar__links-item {
        margin-left: var(--size-5);
    }

    .hero {
        flex-direction: row-reverse;
    }

    .hero__image {
        width: 50%;
        margin-left: var(--size-1);
    }
}
