---
import "@fontsource/roboto";
import "open-props/style";
import "open-props/normalize";

const links = [
    {name: "Home", link: '/'},
    {name: "Posts", link: '/posts'},
    {name: "About", link: '/about'},
];
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Sundy's Website</title>
</head>
<body>
<header>
    <nav>
        <ul>
            {links.map(link =>
                    <li><a href=`${link.link}`>{link.name}</a></li>)}
        </ul>
    </nav>
</header>

<main>
    <slot/>
</main>

<footer>
    <aside>
        <p>Copyright © {new Date().getFullYear()} - All right reserved by Sundy Yaputra</p>
    </aside>
</footer>
</body>
</html>
<style>
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        gap: var(--size-5);
    }

    header {
        padding-inline: var(--size-5);
    }

    nav ul {
        display: flex;
        gap: var(--size-5);
        list-style: none;
        padding: 0;
    }

    main {
        max-width: var(--size-content-3);
        margin-inline: auto;
        padding-inline: var(--size-5);
    }

    footer {
        text-align: center;
        padding: var(--size-5);
    }
</style>

