<footer class="container">
    <div class="separator"></div>
    <div class="footer__content">
        Contact me at <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a>
    </div>
</footer>
